# Idea
.idea

#build dir
_site
termine.ics
Gemfile.lock
package-lock.json

#temporary
tmp
.sass-cache

.DS_Store

#editors text
*.sublime-project
*.sublime-workspace
codekit-config.json

#ruby stuff
messages.pot

#jekyll
.jekyll-cache

#npm
node_modules
npm-debug.log

#Bower
/assets/bower_components
